body {
    background-color: #131720;
    font-family: sans-serif;
}
h3 {
    color: white;
}
.topnav {
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
}
.topnav a {
    float: left;
    color: white;
    text-decoration: none; /* tar bort så att det inte blir understrykt på länken uppe till vänster */
    font-size: 25px;
    cursor: pointer; /* gör så att det blir en "pekare" när man drar över länken */
}
.search-container {
    float: right;
}
#searchBar {
    background-color: #151f30;
    width: 300px;
    height: 45px;
    border-radius: 10px; /* rundar av kanterna så att det ser snyggare ut */
    display: flex; /* gör så att man kan centrera */
    align-items: center; /* centrerar det innehåll som finns i "searchBar"*/
}
#query {
    all: unset; /* återställer alla standardstilar för input*/
    font: 15px system ui;
    color: white;
    height: 100%;
    width: 100%;
    padding: 5px 10px; /* anger vilket mellanrum som ska va inuti "searchBar" */
}
.program-container {
    flex-direction: column; /* staplar upp de olika elementen inuti containern */
    align-items: center;
    justify-content: center; /* gör så att elementen blir centrerade vertikalt inuti containern*/
    height: 100vh;
}
#programForm {
    text-align: center;
    max-width: 350px;
    background-color: #151f30;
    border-radius: 10px;
    margin: 20px auto; /* skapar mellanrum mellan allt runtom */
    padding: 20px; 
    box-shadow: 0 #151f30; /* gör så att det blir färg runtom hela formuläret som ett kort*/
}
#titel, #genre, #åldersGräns {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}
#läggTill, #taBort {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
}
#läggTill:hover, #taBort:hover {
    background-color: purple;
    color: white;
}
#programLista {
    color: white;
    text-align: left;
    padding: 50px;
    list-style: none; /* gör så att punkterna försvinner i listan */
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
#programLista li {
    padding: 30px;
    box-sizing: border-box;  
}
li {
    color: aqua;
}
.bakgrundLista{
    background-color: #151f30;
    border-radius: 10px;
    margin-top: 30px;
    width: 100%;
}